# Dependencies and AdonisJS build
node_modules
build
tmp

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

# Redis Dump Data
dump.rdb

# RestClient
*.http

# Storage
storage/*
!storage/.gitignore
!storage/models/
!storage/models/**
!storage/system/
!storage/system/**